# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/

# Java
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Eclipse (en caso de que alguien en tu equipo lo use)
.classpath
.project
.settings/

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log
log/
logs/

# Temporary files
*.tmp
*.bak
*.swp
*~.nib

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific (C/C++ Development Tooling)
.cproject

# PDT-specific (PHP Development Tools)
.buildpath

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code coverage tools
*.coveragexml